<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= appName %></title>
        <meta name="description" content="Esse projeto foi gerado com slush-focusnetworks by Focusnetworks">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <% if (includeFoundation) { %>
          <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <% } %>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/utils.css">
        <link rel="stylesheet" href="css/scrolling-nav.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	        <img src="http://placehold.it/50" class="img-responsive">

	      </a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a class="page-scroll" href="#about">Sobre</a></li>
	        <li><a class="page-scroll" href="#clients">Clientes</a></li>
	        <li><a class="page-scroll" href="#testimonials">Depoimentos</a></li>
	        <li><a class="page-scroll" href="#products">Produtos</a></li>
	        <li><a class="page-scroll" href="#api">API</a></li>
	        <li><a class="page-scroll" href="#footer">Contato</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="mediabox" class="row mediabox" data-stellar-background-ratio="0.3">
        <div class="col-md-12">
            <h1 class="title-box">Generator <%= typeProject %> </h1>
            <h2 class="subtitle-box">focus on productivity</h2>
            <h3 class="subtitle-box-2">less code, more money :)</h3>
        </div>
        <div class="col-md-12 angle-double">
          <i class="fa fa-angle-double-down"></i>
        </div>
    </div>

    <div id="about" class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="header col-md-12">
          <h1>Lorem Ipsum</h1>
          <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/> Pellentesque a cursus ipsum. Suspendisse eget tortor tincidunt</p>
        </div>

        <div class="col-md-3 about-item">
          <img src="http://placehold.it/120">
          <h2>Lorem Ipsum<br/> dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-3 about-item">
          <img src="http://placehold.it/120">
          <h2>Lorem Ipsum<br/> dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
        <div class="col-md-3 about-item">
          <img src="http://placehold.it/120">
          <h2>Lorem Ipsum<br/> dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-3 about-item">
          <img src="http://placehold.it/120">
          <h2>Lorem Ipsum<br/> dolor sit amet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

    </div> <!-- /container -->

    <div id="clients" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Lorem Ipsum <span>dolor sit amet</span> consectetur adipiscing elit</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 logos">
            <div class="col-md-2 col-md-offset-1"><img src="http://placehold.it/80"></div>
            <div class="col-md-2"><img src="http://placehold.it/80"></div>
            <div class="col-md-2"><img src="http://placehold.it/80"></div>
            <div class="col-md-2"><img src="http://placehold.it/80"></div>
            <div class="col-md-2"><img src="http://placehold.it/80"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="testimonials" class="container">
      <div class="row">
        <div class="col-md-12 header">
          <h1>Lorem Ipsum</h1>
          <p><img src="img/left.png" class="pull-left">Nunc varius, lacus in lobortis semper, ligula tortor lacinia ante, quis fermentum risus ex id arcu. Donec non ipsum vitae ante tincidunt commodo. Sed at dapibus nulla. In hac habitasse platea dictumst.<img src="img/right.png" class="pull-right"></p>
        </div>
        <div class="col-md-12 person">
          <p><span>Nunc varius, lacus in lobortis semper</span></p>
          <p></p>
        </div>
      </div>
    </div>

    <div id="products" class="container-fluid">
        <div class="row">
            <div class="col-md-6 cartoes">
                <h1><img src="http://placehold.it/195"></h1>
                <p class="title">Nunc varius, lacus in lobortis semper, ligula tortor lacinia ante, quis fermentum risus ex id arcu. Donec non ipsum vitae ante tincidunt commodo. Sed at dapibus nulla. In hac habitasse platea dictumst.</p>

                <div class="row service">
                  <h2>Lorem Ipsum</h2>

                  <ul>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                  </ul>
                </div>

                <div class="row service">
                  <h2>Lorem Ipsum</h2>

                  <ul>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                  </ul>
                </div>

                <div class="row service">
                  <h2>Lorem Ipsum</h2>

                  <ul>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                    <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                  </ul>
                </div>

                <div class="row service">
                  <h2>Lorem Ipsum</h2>

                  <a href="mailto:danilo.vaz@focusnetworks.com.br" class="btn-entre-contato"><i class="fa fa-arrow-circle-right"></i>Entre em contato</a>
                </div>
            </div>

          <div class="col-md-6 contabil">
            <h1><img src="http://placehold.it/195"></h1>
            <p class="title">Nunc varius, lacus in lobortis semper, ligula tortor lacinia ante, quis fermentum risus ex id arcu. Donec non ipsum vitae ante tincidunt commodo. Sed at dapibus nulla. In hac habitasse platea dictumst.</p>

            <div class="row service">
              <h2>Lorem Ipsum</h2>

              <ul>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
              </ul>
            </div>

            <div class="row service">
              <h2>Lorem Ipsum</h2>

              <ul>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
              </ul>
            </div>

            <div class="row service">
              <h2>Lorem Ipsum</h2>

              <ul>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
                <li><i class="fa fa-check-circle"></i>Nunc varius, lacus in lobortis semper</li>
              </ul>
            </div>

            <div class="row service">
              <h2>Lorem Ipsum</h2>

              <a href="mailto:danilo.vaz@focusnetworks.com.br" class="btn-entre-contato"><i class="fa fa-arrow-circle-right"></i>Entre em contato</a>
            </div>

          </div>

        </div>

    </div>

    <div id="api" class="container-fluid">
      <div class="container">
        <div class="row">

          <div class="col-md-12">

            <h1>Lorem Ipsum</h1>
            <p class="subtitle">Nunc varius, lacus in lobortis semper <span>Lorem Ipsum</span> Nunc varius, lacus in lobortis semper.</p>

            <div class="col-xs-12 benefits benefits-business">
              <img src="http://placehold.it/120">
              <h2>Lorem Ipsum</h2>
              <p>Nunc varius, lacus in lobortis semper </p>
              <a href="mailto:danilo.vaz@focusnetworks.com.br"><i class=""></i>Entre em contato</a>
            </div>

            <div class="col-xs-12 benefits benefits-developer">
              <img src="http://placehold.it/120">
              <h2>Lorem Ipsum</h2>
              <p>Nunc varius, lacus in lobortis semper</p>
              <a href="mailto:danilo.vaz@focusnetworks.com.br"><i class=""></i>Entre em contato</a>
            </div>

          </div>

        </div>
      </div>
    </div>


	<footer id="footer">
      <div class="container">
        <img src="http://placehold.it/80" class="logo-footer">
        <p>Avenida Cassiano Ricardo, 601 Ed. The One - 12.andar<br/>Jardim Aquárius, São José dos Campos, Brasil</p>
        <p>+55 (12)  3207-0725 </p>
        <div class="social col-md-12 col-xs-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a href="#" target="_blank"><div class="socials facebook"></div></a>
            <a href="#" target="_blank"><div class="socials twitter"></div></a>
            <a href="#" target="_blank"><div class="socials linkedin"></div></a>
            <a href="#" target="_blank"><div class="socials youtube"></div></a>
          </div>
          <div class="col-md-4"></div>
        </div>
        <p>© 2015 Focusnetworks Generator <%= typeProject %> - Made with love by <a href="https://github.com/danilovaz">Danilo Vaz</a></p>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/vendor/jquery.stellar.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/vendor/jquery.easing.min.js"></script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

    </body>
</html>
